extends layout

block content
    .row
        .medium-12.columns
            h2.section-head Kontoumsätze

    .row
        .medium-12.columns.current-balance
            span.right Aktueller Kontostand
                strong.positiv-color &nbsp; +356.654.654

    .row
        .medium-4.columns
            .panel.overview
                dl
                    dt.month Monat
                    dd Januar 2014
                    dt Einnahmen
                    dd.positiv-color 2658
                    dt Ausgaben
                    dd.negativ-color 569
                    dt Bilanz
                    dd.positiv-color 1000
                    dt Kontostand Ø
                    dd 23.211
                    dt Kontostand Ende des Monats
                    dd.final-balance 204.532
                        span.negativ-color -215

        .medium-4.columns
            .panel.overview
                dl
                    dt.month Monat
                    dd Januar 2014
                    dt Einnahmen
                    dd.positiv-color 2658
                    dt Ausgaben
                    dd.negativ-color 569
                    dt Bilanz
                    dd.positiv-color 1000
                    dt Kontostand Ø
                    dd 23.211
                    dt Kontostand Ende des Monats
                    dd.final-balance 204.532
                        span.negativ-color -215

        .medium-4.columns
            .panel.overview
                dl
                    dt.month Monat
                    dd Januar 2014
                    dt Einnahmen
                    dd.positiv-color 2658
                    dt Ausgaben
                    dd.negativ-color 569
                    dt Bilanz
                    dd.positiv-color 1000
                    dt Kontostand Ø
                    dd 23.211
                    dt Kontostand Ende des Monats
                    dd.final-balance 204.532
                        span.negativ-color -215

    .row
        .medium-12.columns
            button.button.right Details

    .row
        .medium-12.columns
            h2.section-head Likes

    .row
        .medium-12.columns
            ul.imageflow.medium-block-grid-12.small-block-grid-6
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)

                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    a(href="#")
                        img(src="http://placekitten.com/200/200",title=Profilbild)


    .row
        .medium-12.columns
            button.button.right Alles anzeigen

    .row
        .large-12.columns
            h2.section-head Kurs
            h3 Der C-Dax
            p
                | Damit Ihr indess erkennt, woher dieser ganze Irrthum gekommen ist, und weshalb man die Lust anklagt
                | und den Schmerz lobet, so will ich Euch Alles eröffnen und auseinander setzen, was jener Begründer
                | der Wahrheit und gleichsam Baumeister des glücklichen Lebens
                | <strong>selbst darüber</strong> gesagt hat.

            img.margin-bottom(src="http://placekitten.com/1200/600",title=Profilbild)


            canvas#myChart(width='400', height='400')

            script(type='text/javascript', src='js/Chart.js')




    .row
        .medium-12.columns
            button.button.right Alles anzeigen
